/*Base rules*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

:root {
    --process-mix: linear-gradient(0deg, #4356FF, #939DFF);
    --process-mix-2: linear-gradient(0deg, #8894FF, #4FDFFF);
    --prmix-white: #FFFFFF;
    --prmix-stroke: linear-gradient(0deg, #ffffff36, #ffffff08);
    --prmix-black: #1E1B39;
    --prmix-dark-grey: #424347;
    --prmix-blue: #4356FF;
    --prmix-green: #6EBE45;
    --prmix-cool-grey: #939AAB;
    --prmix-light-grey: #F6F6F9;
    --prmix-teal: #5ADAC3;
    --prmix-red: #FF495C;
    --prmix-midnight-blue: #0E0661;
    --prmix-gradient: linear-gradient(180deg, #0E0661, #090533);

    --soft-shadow: 0 10px 40px 0 #2e32731a;
}

/*Layout rules*/

#page {
    background: var(--prmix-light-grey);
    font-family: 'Inter', sans-serif;
    color: var(--prmix-black);
}

.container {
    max-width: 1514px;
    margin: 0 auto;
    padding: 0 20px;
}

/*Modules*/

.prmix-banners {
    padding-top: 120px;
    padding-bottom: 80px    
}

.prmix-banners-content {
    display: flex;
}

.prmix-flair {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.prmix-banners-title {
    font-size: 3.825em;
    font-weight: bold;
    margin-bottom: 30px;
}

.prmix-banners-plain {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 150%;
}

.prmix-banner {
    width: 50%;
}

.prmix-banner img {
    max-width: 100%;
    height: auto;
}

.prmix-demo-projects-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.prmix-demo-projects-title {
    font-size: 2em;
    font-weight: bold;
    line-height: 140%;
}

.prmix-demo-projects-links {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.prmix-demo-project-button {
    background: var(--prmix-white);
    font-size: 1.5em;
    font-weight: 500;
    line-height: 140%;
    height: 130px;
    display: flex;
    flex-direction: row;
    padding: 0 35px;
    justify-content: space-between;
    border: 1.5px solid #4255ff80;
    border-radius: 12px;
    flex: 1;
    align-items: center;
    box-shadow: var(--soft-shadow);
}

.prmix-ebook {
    padding-top: 35px;
    padding-bottom: 95px;
}

.prmix-ebook-content {
    display: flex;
    justify-content: space-between;
}

.prmix-ebook-image {
    width: 50%;
}

.prmix-ebook-image img {
    max-width: 100%;
    height: auto;
}

.prmix-ebook-description {
    align-self: flex-end;
    width: 40%;
}

.prmix-ebook-breadcrumb {
    font-weight: bold;
    font-size: 1.25em;
    line-height: 150%;
    color: var(--prmix-blue);
    margin-bottom: 10px;
}

.prmix-ebook-title {
    font-weight: bold;
    font-size: 3em;
    line-height: 130%;
    margin-bottom: 30px;
}

.prmix-ebook-plain {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 150%;
    margin-bottom: 40px;
}

.prmix-ebook-download-button {
    display: flex;
    max-width: 276px;
    height: 60px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: var(--prmix-green);
    font-size: 1.125em;
    font-weight: 500;
    line-height: 130%;
}

.prmix-ebook-slider {
    padding-top: 110px;
    padding-bottom: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    max-width: 1600px;
}

.prmix-ebook-slider prev,next {
    cursor: pointer;
}

.slide {
    padding: 0 7.5px;
}

.slide > img {
    width: 100%;
    height: auto;
}

.prmix-contact-us-wrapper {
    display: grid;
    align-items: center;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
}

.prmix-contact-us-background {
    display: flex;
    align-items: center;
    width: 50vw;
    height: calc(100% - 160px);
    margin: 80px 0;
    background: var(--prmix-gradient);
}

.prmix-contact-us-background .stack{
    position: absolute;
    transform: translateX(-50%);
}

.prmix-contact-us {
    max-width: 835px;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 535px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-left: auto;
}

.prmix-contact-us-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.prmix-contact-us-title {
    font-size: 3em;
    font-weight: bold;
    line-height: 130%;
}

.prmix-contact-us-plain {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 150%;
}

.prmix-contact-us-link {
    max-width: 242px;
    height: 60px;   
    display: grid;
    place-items: center;
    font-size: 1.125em;
    font-weight: 500;
    color: white;
    background: var(--prmix-red);
    border-radius: 35px;
}

.prmix-contact-us-company-description {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-self: center;
    gap: 40px;
    margin-left: 30%;
}

.prmix-contact-us-company-plain {
    color: var(--prmix-white);
    font-size: 1.5em;
    font-weight: 400;
    line-height: 150%;
    padding: 25px;
    background: linear-gradient(135deg, #5242ffed, #3347FF00);
    border-radius: 25px;
}

/* Media queries */
@media (max-width: 1400px) {
    .prmix-contact-us-wrapper {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
}